<div class="card mb-4 shadow-sm">
    <img class="bd-placeholder-img card-img-top" width="100%" [src]="pizza.pizzaImageUrl" alt="Pizza image cap">
    <div class="card-body">
        <p>
            <strong class="text-muted">{{pizza.pizzaCost | currency: 'INR'}}</strong>
        </p>
      <p class="card-text">{{pizza.pizzaName}}.</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary" data-container="body" data-toggle="popover" data-placement="top" data-trigger="focus" data-content=popOver()>View Details</button>
          <button type="button" class="btn btn-sm btn-outline-primary" (click)="onClickAddToCart()">Add to Cart</button>
        </div>
      </div>
    </div>
</div>
    
