<div class="card mb-4 shadow-sm ">
  <div >
    <img class="bd-placeholder-img card-img-top" height="230px" width="230px" [src]="pizza.pizzaImageUrl" alt="Pizza image cap">
  </div>
    <div class="card-body">
      <span>{{pizza.pizzaName}}</span> 
            <strong class="text-muted-dark float-right">{{pizza.pizzaCost | currency: 'INR'}}</strong>
        
        <hr>
      <p class="card-text">{{pizza.pizzaDescription}}</p>
    </div>
        <div class="container-fluid pb-3">
            <button type="button" class="btn btn-sm btn-outline-info container-fluid" (click)="onClickAddToCart()">Add to Cart</button>
        </div>
</div>

    
