<div class="row">
    <div class="row">
        <div class="row">
            <div class="col-md-6 ">
                <div class="col">
                    <a href="/adminregister" class="card" style="width: 12rem; ">
                        <img class="card-img-top" src="assets\image\WhatsApp Image 2021-08-25 at 02.17.57.jpeg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Are You an Admin?</h5>
                        </div>  
                    </a> 
                </div>
            </div>
            <div class="col-md-6">
                <div class="col">
                    <a href="/customerregister" class="card" style="width: 12rem;">
                        <img class="card-img-top" src="assets\image\WhatsApp Image 2021-08-25 at 02.18.08.jpeg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Are You a Customer?</h5>
                        </div>  
                    </a> 
                </div>
            </div>
        </div>
    </div>
    
</div>
