.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 10% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }
.search-query 
{
    width : 500px;
}
#search-input
{
    float :center ;
}

#search-button
{
    float: left;
    width: 3%;
    border-radius: 8px;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 10px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    margin-right: 3px;
}
.input-group
{
    width: 100%;
}
#form
{
    width : 100%;
}