<app-headeronlynav></app-headeronlynav>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <input type="text" class="search-query form-control" placeholder="Search With Customer Id" id="search-input" name="mobile" [(ngModel)]="mobile"/>
            <span class="input-group-btn">
                <button  type="button" id="search-button" (click)=findCustomerById()>
                  <i class="fa fa-search text-right"></i>
                    <span class=" glyphicon glyphicon-search"></span>
                </button>
            </span>
<div class="container">
    <div class="container">
        <div class="row col-md-6 col-md-offset-2 custyle">
        <table class="table table-striped custab">
        <thead>
            <tr>
                <th>Mobile</th>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Username</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of customers">
                <td>{{customer.mobile}}</td>
                <td>{{customer.customerName}}</td>
                <td>{{customer.customerEmail}}</td>
                <td>{{customer.customerAddress}}</td>
                <td>{{customer.userName}}</td>
              
               
              </tr>
        </tbody>
        </table>
        </div>
    </div>