img {
    width: 100%;
    height: auto;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .bg-image{
    background-image : url("src\assets\homepage-bg.png") ;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }