<app-headeronlynav></app-headeronlynav>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="container ">
    <section class="bg-image">
    <div class="row">

      <div class="col-sm" >
        
        <a href="/showcustomer"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center border border-gray" style="font-weight: bold; color: skyblue;">
          <span><img src="assets/customer.png" /></span>
          <br>Customers
        </a>
      </div>

      <div class="col-sm">
        <a href="/pizzacrud"
        role="button"
        class="btn btn-outline-primary btn-lg btn-block text-center border border-gray" style="font-weight: bold; color: skyblue;">
       <span><img src="assets/pizza.png" /></span>
       <br>Pizzas
     </a>
      </div>

      <div class="col-sm">
        <a href="/showorder"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center border border-gray" style="font-weight: bold;   color: skyblue;">
          <span><img src="assets/order.png" /></span>
          <br>Orders
        </a>
      </div>

      <div class="col-sm">
        <a href="/couponcrud"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center border border-gray" style="font-weight: bold; color: skyblue;">
          <span  >
            <img src="assets/coupon.png"/>
            </span><br>Coupons
          <br>
        </a>
      </div>

    </div>
  </section>
  </div>


