<div class="card mb-4 shadow-sm ">
  <img class="bd-placeholder-img card-img-top" height="230px" width="230px" [src]="pizza.pizzaImageUrl" alt="Pizza image cap">
  <div class="card-body">
    <span>{{pizza.pizzaName}}</span> 
          <strong class="text-muted-dark float-right">{{pizza.pizzaCost | currency: 'INR'}}</strong>
      
      <hr>
    <p class="card-text">{{pizza.pizzaDescription}}</p>
  </div>
  <div class="collapse" id="pizza.pizzaId">
    <div class="card card-body">
      
    </div>
  </div>
</div>
  
